@media (max-width: 500px) {
  .container {
    margin: 0;
    padding: 0;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .col {
    padding: 5rem;
    flex: 0 0 50%;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 255, 0.5);
    text-align: center;
  }

  img {
    width: 150px;
  }
}